data/gs_flows.json
[{"id":"ce50c89.22e6b38","type":"tab","label":"TelegramBot"},{"id":"51deda5d.540c14","type":"tab","label":"SlackBot"},{"id":"efde8f08.194ee","type":"chatbot-telegram-node","z":"ce50c89.22e6b38","botname":"GSBot","usernames":"@nelsonneves"},{"id":"fd9e1d8a.04aa8","type":"inject","z":"ce50c89.22e6b38","name":"Demo Message","topic":"","payload":"{ \"chatId\": 91321083, \"type\": \"message\", \"content\": \"Hello sir, I'm the GeekSession bot, how can I help you ?\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":168.5,"y":58,"wires":[["8005453.c5564b8","35947b69.e9f054"]]},{"id":"35947b69.e9f054","type":"debug","z":"ce50c89.22e6b38","name":"","active":true,"console":"false","complete":"false","x":786.5,"y":65,"wires":[]},{"id":"7395f57c.654bcc","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Hi back","message":"Hi {{firstName}} {{lastName}}!","answer":false,"track":false,"x":454,"y":344,"wires":[["8005453.c5564b8"]]},{"id":"9a3914b0.8e7a48","type":"chatbot-telegram-receive","z":"ce50c89.22e6b38","bot":"efde8f08.194ee","x":119,"y":237,"wires":[["1d43778c.de1558"]]},{"id":"8005453.c5564b8","type":"chatbot-telegram-send","z":"ce50c89.22e6b38","bot":"efde8f08.194ee","track":true,"outputs":1,"x":843.5,"y":241,"wires":[[]]},{"id":"f0510195.78521","type":"chatbot-slack-receive","z":"51deda5d.540c14","bot":"","x":129.5,"y":218,"wires":[["bf9ad78d.c995b8"]]},{"id":"e4f52367.2cb9","type":"chatbot-slack-send","z":"51deda5d.540c14","bot":"","x":792.5,"y":219,"wires":[[]]},{"id":"bf9ad78d.c995b8","type":"chatbot-message","z":"51deda5d.540c14","name":"SlackBot-Message","message":"Hi there {{firstName}}","answer":false,"track":false,"x":470.5,"y":219,"wires":[["e4f52367.2cb9"]]},{"id":"b9b5864d.f0f0e8","type":"chatbot-location","z":"ce50c89.22e6b38","name":"Faro-CoWorking","latitude":"37.018825","longitude":"-7.929362","place":"CoWorking","x":752.5,"y":760,"wires":[["8005453.c5564b8"],["8005453.c5564b8"]]},{"id":"1c50db89.3fc9e4","type":"inject","z":"ce50c89.22e6b38","name":"GPS Location","topic":"","payload":"{ \"chatId\": 91321083, \"type\": \"message\", \"content\": \"Faro: CoWorking\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":144.5,"y":758,"wires":[["b9b5864d.f0f0e8"]]},{"id":"1d43778c.de1558","type":"switch","z":"ce50c89.22e6b38","name":"TelegramBot-Message-Switch","property":"payload.content","propertyType":"msg","rules":[{"t":"cont","v":"hi","vt":"str"},{"t":"regex","v":"how.*are.*you","vt":"str","case":true},{"t":"cont","v":"time","vt":"str"},{"t":"cont","v":"name","vt":"str"},{"t":"regex","v":"are.*you.*from","vt":"str","case":true},{"t":"regex","v":"favorite.*place","vt":"str","case":true},{"t":"else"}],"checkall":"false","outputs":7,"x":191,"y":466,"wires":[["7395f57c.654bcc"],["af124999.f68e58"],["e8c32b49.d44aa8"],["1e11c839.61fe38"],["3798f247.a0be2e"],["e6984308.a1448","46c88ca2.d39854"],["2a5a68d7.0a00f8"]]},{"id":"af124999.f68e58","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Fine thanks","message":"I'm fine thanks!","answer":false,"track":false,"x":464.5,"y":396,"wires":[["8005453.c5564b8"]]},{"id":"e8c32b49.d44aa8","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Time","message":"I believe it's late!","answer":false,"track":false,"x":446.5,"y":452,"wires":[["8005453.c5564b8"]]},{"id":"1e11c839.61fe38","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Bot Name","message":"I believe it's @GSBot","answer":false,"track":false,"x":453,"y":507,"wires":[["8005453.c5564b8"]]},{"id":"2a5a68d7.0a00f8","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Can not understand","message":"I am not able to understand!","answer":false,"track":false,"x":494,"y":711,"wires":[["8005453.c5564b8"]]},{"id":"3798f247.a0be2e","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Bot Location","message":"I'm from Faro, Protugal!","answer":false,"track":false,"x":466,"y":555,"wires":[["8005453.c5564b8","b9b5864d.f0f0e8"]]},{"id":"46c88ca2.d39854","type":"chatbot-image","z":"ce50c89.22e6b38","name":"barcelona","filename":"/usr/src/node-red/.node-red/images/barcelona.png","track":false,"x":451.5,"y":613,"wires":[["8005453.c5564b8"]]},{"id":"45f0b159.9ba4e","type":"inject","z":"ce50c89.22e6b38","name":"Send Image URL","topic":"","payload":"{ \"chatId\": 91321083, \"type\": \"message\", \"content\": \"https://cldup.com/J4C1LfliRR-3000x3000.png\" }","payloadType":"json","repeat":"","crontab":"","once":false,"x":151,"y":715,"wires":[["8005453.c5564b8"]]},{"id":"70241ffa.95e99","type":"chatbot-request","z":"ce50c89.22e6b38","name":"User Location","message":"Yes, Barcelona! And yours {{firstName}}?","requestType":"location","buttonLabel":"","x":664.5,"y":645,"wires":[["8005453.c5564b8"],[]]},{"id":"e6984308.a1448","type":"chatbot-message","z":"ce50c89.22e6b38","name":"Favorite place","message":"https://cldup.com/J4C1LfliRR-3000x3000.png","answer":false,"track":false,"x":472,"y":646,"wires":[["8005453.c5564b8","70241ffa.95e99"]]}]